#block1 {
    background-color: #F0F0F0;
}

#block2 {
    background-color: #FFFFFF;
}

#block3 {
    background-color: #F0F0F0;

}

#block4 {
    background-color: #FFFFFF;

}

#indexbackground {

    background-image: url("https://assets.website-files.com/59a92b6636f2410001271027/5bc87f31b0d4cf8dfe4cb084_Bild.jpg");
}


.scroll-link {
    text-align: center;
}

.nav-item nav-link {
    color: white;
}

#welcome-text {
    color: white;
}

#navbar-text {
    color: white;
}
#navbar-text1 {
    color: white;
}
#navbar-text2 {
    color: white;
}
#navbar-text3 {
    color: white;
}
#navbar-text4 {
    color: white;
}
#navbar-text5 {
    color: white;
}
#navbar-text6 {
    color: white;
}
#navbar-text7 {
    color: white;
}
#navbar-text8 {
    color: white;
}
#navbar-text9 {
    color: white;
}
#navbar-text {
    color: white;
}


#menu {
    position: absolute;
    top: 40px;
    left: 300px;
}

#menu-dark {
    position: absolute;
    top: 40px;
    left: 300px;
}

.landing-page-slogan {
    text-align: center;
    color: white;
}



.btn-outline-secondary:hover {
    background: #F57458;
}

#aboutUsButton {
    background-color: #F57458;
}

.btn-createPosition:hover {
     background: #A3381E;
     color: white;
}

#aboutUsButton:hover {
    background-color: #A3381E;
    color: white;
}

.btn-savePosition {
    background: #F57458;
    color: white;
}

.usp-title {
    color: #F57458;
}

.howitworks-boxes {
    width: 90%;
    margin: auto;
}

.btn-savePosition:hover {
     background: #A3381E;
}

#learnMoreButton {
    background-color: #F57458;
}

.btn-link {
    color: #F57458;
}

.btn-link:hover {
    color: #A3381E;
}

#learnMoreButton:hover{
    background-color: #A3381E;
}

.col-md-8 {
    margin: auto;
}

.logos {
    max-width: 8%;
    height: auto;
}


.btn-warning {
    background-color: #F57458;
    color: white;
}

.btn-warning:hover {
    background-color: #A3381E;
    color: white;
}

.btn-accept {
    background-color: #049a78;
    color: white;
}

.btn-accept:hover {
    background-color: #047364;
    color: white;
}

#navbar-text1:hover {
     color: #F57458;
 }

#navbar-text2:hover {
    color: #F57458;
}

#navbar-text3:hover {
    color: #F57458;
}

#navbar-text4:hover {
    color: #F57458;
}

#navbar-text5:hover {
    color: #F57458;
}

#navbar-text6:hover {
    color: #F57458;
}

#navbar-text7:hover {
    color: #F57458;
}

#navbar-text8:hover {
    color: #F57458;
}

#navbar-text9:hover {
    color: #F57458;
    }

#navbar-text:hover {
    color: #F57458;
}





https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710fb_john-towner-128480.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710e8_breather-163391.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710d4_grovemade-239358.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a951ac622d450001e489da_13958163_588278568016937_1855714994949780795_o.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710e7_dane-deaner-272375.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710e9_gabriel-beaudry-253369.jpg
