#block1 {
    background-color: #F0F0F0
}

#block2 {
    background-color: #FFFFFF
}

#block3 {
    background-color: #F0F0F0

}

#block4 {
    background-color: #FFFFFF

}

#indexbackground {
    height: 400px;
    width: 100%;
    background-image: url("https://assets.website-files.com/59a92b6636f2410001271027/5bc87f31b0d4cf8dfe4cb084_Bild.jpg")
}


.scroll-link {
    text-align: center
}

.nav-item nav-link {
    color: white;
}

#welcome-text {
    color: white;
}

#navbar-text {
    color: white;
}
#navbar-text1 {
    color: white;
}
#navbar-text2 {
    color: white;
}
#navbar-text3 {
    color: white;
}
#navbar-text4 {
    color: white;
}
#navbar-text5 {
    color: white;
}
#navbar-text6 {
    color: white;
}
#navbar-text7 {
    color: white;
}
#navbar-text8 {
    color: white;
}
#navbar-text9 {
    color: white;
}

#menu {
    position: absolute;
    top: 40px;
    left: 300px;
}

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710fb_john-towner-128480.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710e8_breather-163391.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710d4_grovemade-239358.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a951ac622d450001e489da_13958163_588278568016937_1855714994949780795_o.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710e7_dane-deaner-272375.jpg

https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710e9_gabriel-beaudry-253369.jpg
