<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Adroit - part of AW family</title>
    <!-- AWX HEAD STARTS -->
    <link href="https://assets.website-files.com/59a92b6636f2410001271027/css/academic-work-x.ae262db23.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Adroit - Part of AW Family</title>
</head>
<!-- AWX HEAD ENDS -->
</head>
<body>
<div th:fragment="footer">
<div class="dark-footer">
    <div class="wrapper w-container">
        <div class="footer-v1">
            <div class="footer-v1-logo-column">
                <a href="/" >
                <img src="/images/logo-transparent-white.png" width="218" height="100" alt=""></a></div>
            <div class="footer-v1-column"><h6 class="white">Adress</h6>
                <div class="footer-v1-column-text light">Borgarfjordsgatan&nbsp;4<br>164 55, Kista<br>SWEDEN</div>
            </div>
            <div class="footer-v1-column"><h6 class="white">AW&nbsp;Family Companies</h6><a
                    href="http://academicwork.com" class="w-inline-block">
                <div class="footer-v1-column-text">Academic Work</div>
            </a><a href="http://academy.se" class="w-inline-block">
                <div class="footer-v1-column-text">AW Academy</div>
            </a><a href="http://digitalent.se" class="w-inline-block">
                <div class="footer-v1-column-text">Digitalent</div>
            </a><a href="http://happo.com" target="_blank" class="w-inline-block">
                <div class="footer-v1-column-text">Happo</div>
            </a><a href="http://instajobs.com" target="_blank" class="w-inline-block">
                <div class="footer-v1-column-text">AW&nbsp;Instajobs</div>
            </a><a href="http://wyncode.co" target="_blank" class="w-inline-block">
                <div class="footer-v1-column-text">Wyncode</div>
            </a></div>
            <div class="footer-v1-column"><h6 class="white">Email</h6><a
                    href="mailto:info@adroit.se?subject=Getting%20in%20touch!" class="footer-grey-link">info@adroit.com</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>