<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/images/Adroit-logo-shortcut.png"
          rel="shortcut icon" type="image/A-icon">
    <link href="images/Adroit-logo-shortcut.png"
          rel="apple-touch-icon">
    <!-- ADROIT/AWX HEAD STARTS -->
    <link href="https://assets.website-files.com/59a92b6636f2410001271027/css/academic-work-x.ae262db23.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Adroit - Part of AW Family</title>
</head>
<!-- AWX HEAD ENDS -->

    <title>About us</title>
</head>

<body>
<div th:replace="fragments/header :: header-light">...</div>

<div>
    <div id="what-we-do" class="section">
        <div class="section-header-wrapper"><h2>Our goal is to create platform to empower candidates</h2>
            <p>We empower candidates by impacting the labour market in a sustainable way.</p>
        </div>
        <div class="wrapper w-container">
            <div class="services-simple">
                <div data-ix="fade-up-1" class="service-simple w-clearfix"
                     style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease 0s, transform 900ms ease 0s;">
                    <!--
                    <img src="https://assets.website-files.com/59a92b6636f2410001271027/5cecd8ff5abdf658ec5974bc_construction.png"
                         width="64" alt="" class="icon-left">
                         -->
                    <div class="service-simple-info"><h6 class="usp-title">Empower candidates</h6>
                        <p>Our main focus at Adroit is to empower candidate and therefor affect the job-market in a positive way. We do this by utilizing the
                            resources we have within the AW Family.</p></div>
                </div>
                <div data-ix="fade-up-2" class="service-simple w-clearfix"
                     style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease 0s, transform 900ms ease 0s;">
<!--                    <img src="https://assets.website-files.com/59a92b6636f2410001271027/5cecd9115fc32d5321dc378c_plant.png"-->
<!--                         width="64" alt="" class="icon-left">-->
                    <div class="service-simple-info"><h6 class="usp-title">Matching candidates</h6>
                        <p>Through our matching-function we connect the most relevant candidate the an empoloyers position.
                            This is based both on qualifications and on preferred benefits.</p></div>
                </div>
                <div data-ix="fade-up-3" class="service-simple w-clearfix"
                     style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 600ms ease 0s, transform 900ms ease 0s;">
<!--                    <img src="https://assets.website-files.com/59a92b6636f2410001271027/5cecd91a5fc32dd02bdc3793_securities.png"-->
<!--                         width="64" alt="" class="icon-left">-->
                    <div class="service-simple-info"><h6 class="usp-title">Sustainable labour market</h6>
                        <p>We believe in making a positive impact on the labour market. This is made by working against discrimination of candidates.
                            A company can only see a full profile after candidate accepts an offer.</p></div>
                </div>
            </div>
            <a id="aboutUsButton" href="/aboutUs" class="simple light w-button">Learn more about us</a></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>

</body>
<!--Bootstrap script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>