<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/images/Adroit-logo-shortcut.png"
          rel="shortcut icon" type="image/A-icon">
    <link href="images/Adroit-logo-shortcut.png"
          rel="apple-touch-icon">

    <!-- ADROIT/AWX HEAD STARTS -->
    <link href="https://assets.website-files.com/59a92b6636f2410001271027/css/academic-work-x.ae262db23.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Adroit - Part of AW Family</title>
</head>
<!-- AWX HEAD ENDS -->
</head>

<body>

<!--HEADER BEGINS-->
<div id="indexbackground"> <!-- Ändrar bakgrunden på första blocket -->
    <div th:replace="fragments/header :: header">...</div>
    <div data-collapse="medium" data-animation="default" data-duration="400" class="top-menu w-nav">
        <div class="top-menu-wrapper w-clearfix">
            <div class="menu-button-2 w-nav-button">
                <div class="icon w-icon-nav-menu"></div>
            </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>
    <h2 class="hero-header">Company profile</h2>
    <img class="center" src="/images/google-logo.png" width="200px">
    <br>
    <br>
    <a href="#what-we-do" class="link-block w-inline-block">
        <img src="https://assets.website-files.com/59a92b6636f2410001271027/5bc87b03f46031e00dec47a8_white.svg"
             data-ix="hero-scroll-arrow" alt="" class="hero-arrow-down-icon"
             style="transition: transform 600ms linear 0s; transform: translateX(0px) translateY(0px);"></a></div>
<!--HEADER ENDS-->
<!-- PROFILE BEGINS -->
<div class="profile-boxes">

    <div class="jumbotron" id="block1">
        <div class="text-block">
            <h3>Mission & Company information</h3>
            <p>Our mission is to organize the world’s information and make it universally accessible and useful.<br> <br>
                Google (Alphabet Inc.) is an American multinational conglomerate headquartered in Mountain View, California. It was created through a corporate restructuring of Google on October 2, 2015, and became the parent company of Google and several former Google subsidiaries. The two founders of Google assumed executive roles in the new company, with Larry Page serving as CEO and Sergey Brin as president. Alphabet is the world's fifth-largest technology company by revenue and one of the world's most valuable companies.</p>
        </div>
    </div>

    <div class="jumbotron" id="block2">
        <div class="text-block">

            <h3>History</h3>
            <p>On August 10, 2015, Google Inc. announced plans to create a new public holding company, Alphabet Inc. Google CEO Larry Page made this announcement in a blog post on Google's official blog. Alphabet would be created to restructure Google by moving subsidiaries from Google to Alphabet, narrowing Google's scope. </p>
        </div>
    </div>

    <div class="jumbotron" id="block3">
        <div class="text-block">

            <h3>Contact details</h3>
            <p>1600 Amphitheatre Pkwy, <br> Mountain View, <br> CA 94043, United States</p>
        </div>
    </div>
</div>
<!-- PROFILE ENDS -->


<div th:replace="fragments/footer :: footer">...</div>
<!--Bootstrap script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>