<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/images/Adroit-logo-shortcut.png"
          rel="shortcut icon" type="image/A-icon">
    <link href="images/Adroit-logo-shortcut.png"
          rel="apple-touch-icon">
    <meta charset="utf-8">
    <title>Adroit - Part of AW Family</title>
    <!-- AWX HEAD STARTS -->
    <link href="https://assets.website-files.com/59a92b6636f2410001271027/css/academic-work-x.ae262db23.css"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <title>Adroit - Part of AW Family</title>
</head>
<!-- AWX HEAD ENDS -->

<body>

<div id="indexbackground">
    <div th:replace="fragments/header :: header">...</div>
    <h4 class="hero-header">We empower candidates</h4>
    <h2 class="landing-page-slogan">by impacting the labour market sustainably</h2>
</div>
<!-- Utkast till information om purpose -->

<!-- Utkast till hur det fungerar -->
<div>
    <section id="howitworks-section" class="container-fluid width-normal">
        <div class="howitworks-boxes">
            <br>
            <br>
            <h2 class="section-title text-center">How Adroit works</h2>
            <br>
            <br>
            <div class="row howitworks-box one flexfix">
                <div class="col-xs-12 col-sm-6 text">
                    <div class="wrapper">
                        <div class="step">
                            <h4>STEP 1</h4>
                        </div>
                        <h3>Create a profile</h3>
                        <p>Together with our team at Academic Work you will get a professional profile at Adroit.
                            We take photos, help write your competences and together fill in your preferences. Your
                            picture and name
                            will be hidden from companies so that only your competences and preferences are shown.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 image text-center">
                    <img src="https://assets.website-files.com/59a92b6636f2410001271027/59a92b6736f24100012710e3_grovemade-239370.jpg">
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row howitworks-box two flexfix">
                <div class="col-xs-12 col-sm-6 image text-center hidden-xs">
                    <img src="https://assets.website-files.com/59a92b6636f2410001271027/59a951ac622d450001e489da_13958163_588278568016937_1855714994949780795_o.jpg
">
                </div>
                <div class="col-xs-12 col-sm-6 text">
                    <div class="wrapper">
                        <div class="step">
                            <h4>STEP 2</h4>
                        </div>
                        <h3>Get offers from companies</h3>
                        <p>Based on your qualifications and preferences you will be matched with employers. Here the
                            companies
                            has the opportunity to read your preferences to give an individual offer to further attract
                            your competences.</p>
                    </div>
                </div>
                <div class="col-xs-12 image text-center visible-xs">
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row howitworks-box three flexfix">
                <div class="col-xs-12 col-sm-6 text">
                    <div class="wrapper">
                        <div class="step">
                            <h4>STEP 3</h4>
                        </div>
                        <h3>Make a choice</h3>
                        <p>If you chose to accept an offer the employer will gain access to your full profile.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 image text-center">
                    <img src="https://assets.website-files.com/59a92b6636f2410001271027/59a938763963790001b888d4_587fa551965584d90638e247_outside%20redhead%20student%20in%20park.jpg">
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
        <div class="button-wrapper text-center" style="margin-bottom:100px;">
            <a id="learnMoreButton" type="button" class="btn btn-secondary" href="/aboutUs">Learn more</a>
        </div>
    </section>
</div>

<div th:replace="fragments/footer :: footer">...</div>


<!--Bootstrap script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>